##Q1. Explain different types of views. Demonstrate with suitable examples.

###ANS.
Views in the context of databases refer to virtual tables that are based on the result set of an SQL query. They allow users to query the data in the database without actually storing the data themselves. Views can be categorized into several types based on their functionality and purpose. Here are some common types of views along with examples:

1. **Simple View:**
   - A simple view is based on a single table.
   - It can contain all columns or a subset of columns from the base table.
   - Example:
     ```sql
     CREATE VIEW EmployeeView AS
     SELECT EmployeeID, FirstName, LastName
     FROM Employees;
     ```

2. **Complex View:**
   - A complex view is based on multiple tables using JOIN operations.
   - It can include calculations, aggregations, and other complex expressions.
   - Example:
     ```sql
     CREATE VIEW OrderSummary AS
     SELECT o.OrderID, o.CustomerID, c.CompanyName, SUM(od.Quantity * od.UnitPrice) AS TotalAmount
     FROM Orders o
     JOIN Customers c ON o.CustomerID = c.CustomerID
     JOIN OrderDetails od ON o.OrderID = od.OrderID
     GROUP BY o.OrderID, o.CustomerID, c.CompanyName;
     ```

3. **Indexed View:**
   - An indexed view is a materialized view that has a clustered index associated with it.
   - It improves the performance of frequently used queries by precomputing and storing the results.
   - Example:
     ```sql
     CREATE VIEW SalesByCategory AS
     SELECT CategoryID, SUM(Quantity * UnitPrice) AS TotalSales
     FROM OrderDetails
     GROUP BY CategoryID;

     CREATE UNIQUE CLUSTERED INDEX IX_SalesByCategory_CategoryID
     ON SalesByCategory(CategoryID);
     ```

4. **Partitioned View:**
   - A partitioned view splits a large table into smaller tables (partitions) based on a predefined criterion.
   - It helps manage large volumes of data more efficiently.
   - Example:
     ```sql
     CREATE VIEW SalesPartitioned AS
     SELECT *
     FROM Sales
     WHERE SalesDate BETWEEN '2024-01-01' AND '2024-12-31';
     ```

5. **Materialized View:**
   - A materialized view stores the result set of a query as a physical table, which is updated periodically.
   - It improves query performance at the cost of increased storage and maintenance overhead.
   - Example:
     ```sql
     CREATE MATERIALIZED VIEW ProductStock AS
     SELECT ProductID, SUM(Quantity) AS TotalStock
     FROM Inventory
     GROUP BY ProductID;
     ```

Each type of view serves a specific purpose and offers distinct advantages in terms of query performance, data organization, and manageability. Choosing the appropriate type depends on the requirements of the application and the desired trade-offs between performance, storage, and maintenance.

##Q2. What is the difference between function and stored procedure? Write syntax for creating functions and stored procedures.

##ANS.
Functions and stored procedures are both database objects used to encapsulate a set of SQL statements for reuse, but they have some key differences in terms of their usage and functionality.

**Stored Procedure:**
- A stored procedure is a collection of SQL statements that are stored in the database and can be executed by calling the procedure.
- It can contain a series of SQL commands, control-of-flow statements, variables, and other procedural constructs.
- Stored procedures can have input parameters, output parameters, and return values.
- They are often used for performing complex business logic, data manipulation, or data validation tasks.
- Stored procedures are called explicitly by name whenever needed.

**Syntax for creating a stored procedure:**
```sql
CREATE PROCEDURE procedure_name
    [ (parameter1 data_type [, parameter2 data_type, ...]) ]
AS
BEGIN
    -- SQL statements
END;
```

**Example of creating a stored procedure:**
```sql
CREATE PROCEDURE GetEmployeeByID
    @EmployeeID INT
AS
BEGIN
    SELECT * FROM Employees WHERE EmployeeID = @EmployeeID;
END;
```

**Function:**
- A function is a reusable set of SQL statements that returns a single value based on the input parameters.
- Functions can be scalar functions (returning a single value), table-valued functions (returning a table), or aggregate functions (performing calculations on a set of values).
- They cannot contain DML (Data Manipulation Language) statements like INSERT, UPDATE, DELETE.
- Functions can be used inline within SQL queries, such as in SELECT, WHERE, and JOIN clauses.
- They are called as part of an expression or query.

**Syntax for creating a function:**
```sql
CREATE FUNCTION function_name
    ( [parameter1 data_type [, parameter2 data_type, ...]] )
RETURNS return_data_type
AS
BEGIN
    -- SQL statements
    RETURN return_value;
END;
```

**Example of creating a scalar function:**
```sql
CREATE FUNCTION CalculateDiscount
    (@TotalAmount DECIMAL(10,2), @DiscountRate DECIMAL(5,2))
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @Discount DECIMAL(10,2);
    SET @Discount = @TotalAmount * (@DiscountRate / 100.0);
    RETURN @Discount;
END;
```

**Example of using a function in a query:**
```sql
SELECT ProductID, UnitPrice - dbo.CalculateDiscount(UnitPrice, 10) AS DiscountedPrice
FROM Products;
```

In summary, stored procedures are used for performing complex operations and can contain a variety of SQL and procedural code, while functions are used to encapsulate logic that returns a single value and can be easily integrated into SQL queries.

##Q3. What is an index in SQL? What are the different types of indexes in SQL?

##ANS.
In SQL, an index is a database object that improves the speed of data retrieval operations on database tables by providing quick access to rows based on the values of one or more columns. Indexes are created on columns in a table, and they are used by the database management system to efficiently locate rows when executing queries.

Different types of indexes in SQL include:

1. **Single-Column Index:**
   - An index created on a single column of a table.
   - It speeds up queries that filter or sort data based on that column.
   - Example:
     ```sql
     CREATE INDEX idx_LastName ON Employees(LastName);
     ```

2. **Composite Index:**
   - An index created on multiple columns of a table.
   - It speeds up queries that involve conditions or sorting on multiple columns.
   - Example:
     ```sql
     CREATE INDEX idx_FirstName_LastName ON Employees(FirstName, LastName);
     ```

3. **Unique Index:**
   - An index that enforces the uniqueness of values in one or more columns.
   - It prevents duplicate values from being inserted into the indexed columns.
   - Example:
     ```sql
     CREATE UNIQUE INDEX idx_Email ON Users(Email);
     ```

4. **Clustered Index:**
   - An index that reorders the physical order of the table's rows based on the indexed column(s).
   - It determines the order in which data is stored on disk.
   - Each table can have only one clustered index.
   - Example:
     ```sql
     CREATE CLUSTERED INDEX idx_DateOfBirth ON Employees(DateOfBirth);
     ```

5. **Non-clustered Index:**
   - An index that creates a separate structure from the table data.
   - It does not affect the physical order of the table's rows.
   - Multiple non-clustered indexes can be created on a single table.
   - Example:
     ```sql
     CREATE NONCLUSTERED INDEX idx_Salary ON Employees(Salary);
     ```

6. **Bitmap Index:**
   - An index optimized for columns with low cardinality (few distinct values).
   - It uses a bitmap for each possible value of the indexed column(s), making it efficient for equality and range queries.
   - Example:
     ```sql
     CREATE BITMAP INDEX idx_Gender ON Employees(Gender);
     ```

7. **Full-Text Index:**
   - An index used for searching text-based data efficiently.
   - It enables fast searching of words and phrases within large blocks of text.
   - Example:
     ```sql
     CREATE FULLTEXT INDEX idx_Content ON Articles(Content);
     ```

Indexes play a crucial role in optimizing query performance, especially for large datasets, by reducing the time it takes to retrieve data. However, it's important to use indexes judiciously, as they come with overhead during data modification operations (such as INSERT, UPDATE, DELETE) and can consume additional storage space.

##Q4. Showcase an example of exception handling in SQL stored procedure.

##ANS.
Certainly! Below is an example of a stored procedure in SQL Server that demonstrates exception handling:

```sql
CREATE PROCEDURE DivideNumbers
    @Dividend INT,
    @Divisor INT
AS
BEGIN
    DECLARE @Result DECIMAL(10, 2);

    BEGIN TRY
        IF @Divisor = 0
        BEGIN
            -- Raise an error if the divisor is zero
            THROW 50001, 'Error: Division by zero is not allowed.', 1;
        END

        -- Perform division
        SET @Result = @Dividend / @Divisor;

        -- Print the result
        PRINT 'Result of division: ' + CAST(@Result AS VARCHAR(20));
    END TRY
    BEGIN CATCH
        -- Catch and handle the error
        PRINT 'An error occurred: ' + ERROR_MESSAGE();
    END CATCH
END;
```

In this example:

- We create a stored procedure named `DivideNumbers` that takes two input parameters: `@Dividend` and `@Divisor`.
- Inside the procedure, we use a `TRY...CATCH` block to handle exceptions.
- In the `TRY` block, we check if the divisor is zero. If it is, we raise a custom error using the `THROW` statement.
- If the division operation is successful (i.e., the divisor is not zero), we perform the division and print the result.
- In the `CATCH` block, we catch any errors that occur during the execution of the `TRY` block and print the error message using the `ERROR_MESSAGE()` function.

Here's how you can execute the stored procedure:

```sql
EXEC DivideNumbers @Dividend = 10, @Divisor = 2; -- This will print the result of 10 divided by 2

EXEC DivideNumbers @Dividend = 10, @Divisor = 0; -- This will trigger the division by zero error
```

The `TRY...CATCH` block ensures that any errors that occur during the execution of the stored procedure are caught and handled gracefully, allowing for better error reporting and control.

##Q5. Create a SQL function to split strings into rows on a given character? Input String: Stephen;peter;berry;Olivier;caroline;

Stephen
Peter
Berry
Oliver
Caroline

###ANS.
Sure, here's a SQL Server function to split a string into rows based on a given character:

```sql
CREATE FUNCTION dbo.SplitStringIntoRows
(
    @InputString NVARCHAR(MAX),
    @Delimiter CHAR(1)
)
RETURNS @OutputTable TABLE (SplitValue NVARCHAR(MAX))
AS
BEGIN
    DECLARE @StartIndex INT, @EndIndex INT

    -- Initialize start index
    SET @StartIndex = 1

    -- Loop through the input string
    WHILE CHARINDEX(@Delimiter, @InputString, @StartIndex) > 0
    BEGIN
        -- Find the next occurrence of delimiter
        SET @EndIndex = CHARINDEX(@Delimiter, @InputString, @StartIndex)

        -- Extract the substring between start and end index
        INSERT INTO @OutputTable (SplitValue)
        VALUES (SUBSTRING(@InputString, @StartIndex, @EndIndex - @StartIndex))

        -- Update start index for the next iteration
        SET @StartIndex = @EndIndex + 1
    END

    -- Insert the last substring into the output table
    INSERT INTO @OutputTable (SplitValue)
    VALUES (SUBSTRING(@InputString, @StartIndex, LEN(@InputString) - @StartIndex + 1))

    RETURN
END;
```

This function takes two parameters:

- `@InputString`: The input string that needs to be split.
- `@Delimiter`: The character used as a delimiter to split the string.

It returns a table (`@OutputTable`) with a single column `SplitValue` containing the individual substrings.

Here's how you can use this function:

```sql
SELECT SplitValue
FROM dbo.SplitStringIntoRows('Stephen;peter;berry;Olivier;caroline;', ';');
```

This will return:

```
SplitValue
----------
Stephen
peter
berry
Olivier
caroline
```

Each substring separated by the semicolon (`;`) in the input string is split into individual rows.

##Q6. What is a temporary and a variable table? Write suitable syntax to create temporary tables and variable tables.

##ANS.
Temporary tables and table variables are both used to store data temporarily within the scope of a session or a batch of queries. However, they have some differences in terms of their usage, lifespan, and behavior.

**Temporary Tables:**

- Temporary tables are created in the tempdb system database.
- They persist for the duration of a user session or the execution of a specific batch of queries.
- Temporary tables can be accessed by multiple sessions within the same database, but they are automatically dropped when the session ends or when the creating batch completes.
- They are useful for storing and manipulating intermediate results within a session or a batch.

**Syntax for creating a temporary table:**
```sql
CREATE TABLE #TempTableName (
    Column1 DataType,
    Column2 DataType,
    ...
);
```

**Example of creating a temporary table:**
```sql
CREATE TABLE #TempEmployees (
    EmployeeID INT,
    FirstName NVARCHAR(50),
    LastName NVARCHAR(50)
);
```

**Variable Tables (Table Variables):**

- Table variables are variables of type TABLE that can hold a set of rows.
- They are created and scoped like any other variable within a batch or procedure.
- Table variables exist only within the scope of the batch, stored procedure, or function in which they are defined.
- They are automatically dropped when the scope ends.
- Table variables cannot be explicitly dropped or truncated.
- They are useful for storing small to moderate amounts of data within the context of a stored procedure or function.

**Syntax for declaring a table variable:**
```sql
DECLARE @TableVariableName TABLE (
    Column1 DataType,
    Column2 DataType,
    ...
);
```

**Example of declaring a table variable:**
```sql
DECLARE @Employees TABLE (
    EmployeeID INT,
    FirstName NVARCHAR(50),
    LastName NVARCHAR(50)
);
```

In summary, temporary tables are created using the `CREATE TABLE` syntax with a pound sign (`#`) prefix for the table name, while table variables are declared using the `DECLARE` statement with the `TABLE` data type. Both temporary tables and table variables provide a way to store and manipulate data temporarily, but they differ in their lifespan, scope, and usage scenarios.